{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
{% endblock head %}

{% block title %}About{% endblock title %}

{% block content %}
	<div id="about">
		<img src="/static/me-380px.jpg" />
		<div>
			<h3>Michael Parker</h3>
			<p>bulit this site because he likes watching competitive matches for <a href="http://www.teamfortress.com/">Team Fortress 2</a> but kept forgetting when they were going live. He's currently the lead developer at <a href="http://adhoclabs.co/">Ad Hoc Labs</a>, the creators of <a href="http://burnerapp.com/">Burner</a>. Before that he wrote a bunch of code at <a href="http://www.google.com/">Google</a>, and before that he got a couple computer science degrees from <a href="http://www.ucla.edu/">UCLA</a>.</p>

			<ul>
				<li>
					<a href="http://steamcommunity.com/id/shadowmatter"><img src="/static/steam-logo-32px.png" />shadowmatter</a>
				</li>
				<li>
					<a href="https://github.com/mgp"><img src="/static/github-logo-32px.png">mgp</a>
				</li>
				<li>
					<a href="http://www.twitch.tv/shadowmatter"><img src="/static/twitch-logo-32px.png" />shadowmatter</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}
