{% extends "layout.html" %}

{% block head %}
	{{ macros.write_font_stylesheet() }}
{% endblock head %}

{% block page_name %}About{% endblock page_name %}

{% block content %}
	<div id="about" class="footer-data clearfix">
		<img src="{{ url_for('static', filename='me-300px.jpg') }}" />
		<div>
			<h3>Michael Parker</h3>
			<p>built this site because he likes watching competitive matches for <a href="http://www.teamfortress.com/">Team Fortress 2</a> but kept forgetting when they were going live. He's currently the lead developer at <a href="http://adhoclabs.co/">Ad Hoc Labs</a>, the creators of <a href="http://burnerapp.com/">Burner</a>. Before that he co-founded the startup <a href="http://www.readyupapp.com/">ReadyUp!</a>, wrote a bunch of code at <a href="http://www.google.com/">Google</a>, and got a couple computer science degrees from <a href="http://www.ucla.edu/">UCLA</a>.</p>

			<ul>
				<li>
					<a href="http://steamcommunity.com/id/shadowmatter" target="_blank">
						<img src="{{ url_for('static', filename='steam-logo-alt-24px.png') }}" />shadowmatter
					</a>
				</li>
				<li>
					<a href="http://www.twitch.tv/shadowmatter" target="_blank">
						<img src="{{ url_for('static', filename='twitch-logo-24px.png') }}" />shadowmatter
					</a>
				</li>
				<li>
					<a href="https://github.com/mgp" target="_blank">
						<img src="{{ url_for('static', filename='github-logo-transparent-24px.png') }}">mgp
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}

