{% import 'macros.html' as macros %}

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/reset.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		{% assets "css_all" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}
		{% assets "js_all" %}
			<script src="{{ ASSET_URL }}"></script>
		{% endassets %}
		<title>{% block title %}{% endblock title %} - Stream Calendars</title>
	</head>
	<body>
		<div id="site">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>

