{% import 'macros.html' as macros %}

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/reset.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		{% assets "app_js" %}
			<script src="{{ ASSET_URL }}"></script>
		{% endassets %}
		{% block head %}{% endblock head %}
		{% assets "all_css" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}
		<title>{% block title %}{% endblock title %} - Stream Calendars</title>
	</head>
	<body>
		<div id="header">
			<!-- login/logout, settings -->
		</div>
		<div id="site" class="clearfix">
			<div>
				<div id="sidebar">
					<ol>
						<li><a href="{{ url_for('viewer_calendar') }}">Calendar</a></li>
						<li><h3>Browse All</h3>
							<ol>
								<li><a href="{{ url_for('all_matches') }}">Matches</a></li>
								<li><a href="{{ url_for('all_teams') }}">Teams</a></li>
								<li><a href="{{ url_for('all_streamers') }}">Streamers</a></li>
							</ol>
						</li>
						<li><h3>Starred</h3>
							<ol>
								<li><a href="{{ url_for('starred_matches') }}">Matches</a></li>
								<li><a href="{{ url_for('starred_teams') }}">Teams</a></li>
								<li><a href="{{ url_for('starred_streamers') }}">Streamers</a></li>
							</ol>
						</li>
					</ol>
				</div>
				<div id="content">
					{% block content %}{% endblock content %}
				</div>
			</div>
		</div>
		<ol id="footer">
			<li><a href="{{ url_for('privacy') }}">Privacy</a></li>
			<li><a href="{{ url_for('terms') }}">Terms</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
		</ol>
	</body>
</html>

