{% macro write_links(links) -%}
	{% for page_name, text in links %}
		<li{% if page_name == selected_page %} class="selected"{% endif %}>
			<a href="{{ url_for(page_name) }}">{{ text }}</a>
		</li>
	{% endfor %}
{%- endmacro %}


{% macro write_small_game_icon(game) -%}
	{% if game == "tf2" %}
		<img src="tf2-small.png" />
	{% endif %}
{%- endmacro %}

{% macro write_large_game_icon(game) -%}
	{% if game == "tf2" %}
		<img src="tf2-large.png" />
	{% endif %}
{%- endmacro %}


{% macro write_small_external_link(external_link) -%}
	<a href="{{ external_link }}">
		<img src="external-link-small.png" />
	</a>
{%- endmacro %}

{% macro write_large_external_link(link) -%}
	<a href="{{ external_link }}">
		<img src="external-link-large.png" />
	</a>
{%- endmacro %}


{% macro write_count(count) -%}
	x{{ count }}
{%- endmacro %}

{% macro write_star_with_count(is_starred, num_stars) -%}
	{% if is_starred %}
		<img src="star-dark-full.png" />
	{% else %}
		<img src="star-light-empty.png" />
	{% endif %}
	<span>{{ write_count(num_stars) }}</span>
{%- endmacro %}

{% macro write_stream_with_count(is_streamed, num_streams) -%}
	{% if is_streamed %}
		<img src="TODO" />
	{% else %}
		<img src="TODO" />
	{% endif %}
	<span>{{ write_count(num_streams) }}</span>
{%- endmacro %}


{% macro _write_league(image_url, name, external_url) -%}
	<img src="{{ image_url }}" />
	<span>name</span>
	{{ write_small_external_link(external_url) }}
{%- endmacro %}

{% macro write_league(league) -%}
	{% if league == "esea" %}
		{{ _write_league("esea.png", "Season 13 Invite", "TODO") }}
	{% endif %}
{%- endmacro %}


{% macro write_match(match) -%}
	<div>
		<h3>
			{{ write_large_game_icon(match.game) }}
			<a href="" class="team-name">{{ match.team1.name }}</a>
			vs 
			<a href="" class="team-name">{{ match.team2.name }}</a>
			{{ write_large_external_link("TODO") }}
		</h3>

		<div>
			{{ write_star_with_count(match.is_starred, match.num_stars) }}
		</div>
		<div>
			<div>
				<span>{{ date }}</span> at <span>{{ time }}</span>
			</div>
			<div>
				{{ write_league(match.league) }}
			</div>
		</div>
	</div>
{%- endmacro %}


{% macro write_match_list_element(match) -%}
	<li>
		<a href="">
			{{ write_game_icon(match.game) }}
			<div>
				<span class="team-name">{{ match.team1.name }}</span>
				vs
				<span class="team-name">{{ match.team2.name }}</span>
			</div>
			{{ match.time }}
			<div>
				{{ write_star_with_count(match.is_starred, match.num_stars) }}
			</div>
		</a>
	</li>
{%- endmacro %}

{% macro write_team_element(team) -%}
	<li>
		<a href="">
			{{ write_game_icon(team.game) }}
			{{ team.name }}
			<div>
				{{ write_star_with_count(team.is_starred, team.num_stars) }}
			</div>
		</a>
	</li>
{%- endmacro %}

{% macro write_streamer_list_element(streamer) -%}
	<li>
		<a href="">
			<img src="{{ streamer.image_url }}" />
			{{ streamer.name }}
			<div>
				{{ write_star_with_count(streamer.is_starred, streamer.num_stars) }}
			</div>
		</a>
	</li>
{%- endmacro %}

