{% macro write_links(links) -%}
	{% for page_name, text in links %}
		<li{% if page_name == selected_page %} class="selected"{% endif %}>
			<a href="{{ url_for(page_name) }}">{{ text }}</a>
		</li>
	{% endfor %}
{%- endmacro %}


{% macro write_small_game_icon(game) -%}
	{% if game == "tf2" %}
		<img class="game-logo" src="{{ url_for('static', filename='tf2-small.png') }}" />
	{% endif %}
{%- endmacro %}

{% macro write_large_game_icon(game) -%}
	{% if game == "tf2" %}
		<img class="game-logo" src="{{ url_for('static', filename='tf2-large.png') }}" />
	{% endif %}
{%- endmacro %}


{% macro write_small_external_link(external_link) -%}
	<a href="{{ external_link }}" target="_blank">
		<img class="external-link" src="{{ url_for('static', filename='external-link-small.png') }}" />
	</a>
{%- endmacro %}

{% macro write_large_external_link(external_link) -%}
	<a href="{{ external_link }}" target="_blank">
		<img class="external-link" src="{{ url_for('static', filename='external-link-large.png') }}" />
	</a>
{%- endmacro %}


{% macro write_count(count) -%}
	x<span>{{ count }}</span>
{%- endmacro %}

{% macro write_star_with_count(is_starred, num_stars) -%}
	{% if is_starred %}
		{% set starImgSrc = url_for('static', filename='star-full-dark.png') %}
		{% set starDivClass = "counts selected" %}
	{% else %}
		{% set starImgSrc = url_for('static', filename='star-empty-light.png') %}
		{% set starDivClass = "counts" %}
	{% endif %}

	<div class="{{ starDivClass }}">
		<img src="{{ starImgSrc }}" />{{ write_count(num_stars) }}
	</div>
{%- endmacro %}

{% macro write_stream_with_count(is_streamed, num_streams) -%}
	{% if is_streamed %}
		<img src="TODO" />
	{% else %}
		<img src="TODO" />
	{% endif %}
	<span>{{ write_count(num_streams) }}</span>
{%- endmacro %}


{% macro write_division(game, division, should_write_external_link) -%}
	{% set league_id = division|league_id %}
	{% if league_id %}
		<img class="league-logo" src="{{ url_for('static', filename='%s.png'|format(league_id)) }}" />
		{{ division|division_name }}
		{% if should_write_external_link %}
			{{ write_small_external_link(division|division_external_url) }}
		{% endif %}
	{% endif %}
{%- endmacro %}


{% macro write_match_list_element(match, should_write_star_with_count) -%}
	<li>
		<a href="{{ url_for('match_details', match_id=match|match_url_part) }}">
			{% if should_write_star_with_count %}
				{{ write_star_with_count(match.is_starred, match.num_stars) }}
			{% endif %}
			{{ write_small_game_icon(match.game) }}
			<div>
				<div class="teams">
					<span class="team-name">{{ match.team1.name }}</span>
					vs
					<span class="team-name">{{ match.team2.name }}</span>
				</div>
				<div class="datetime">{{ match.time|readable_datetime }}</div>
			</div>
		</a>
	</li>
{%- endmacro %}

{% macro write_team_list_element(team) -%}
	<li>
		<a href="{{ url_for('team_details', team_id=team|team_url_part) }}">
			{{ write_small_game_icon(team.game) }}
			{{ team.name }}
			{{ write_star_with_count(team.is_starred, team.num_stars) }}
		</a>
	</li>
{%- endmacro %}

{% macro write_streamer_list_element(streamer) -%}
	<li>
		<a href="{{ streamer|best_user_url }}">
			<img src="{{ streamer|best_streamer_small_picture }}" />
			{{ streamer.name }}
			{{ write_star_with_count(streamer.is_starred, streamer.num_stars) }}
		</a>
	</li>
{%- endmacro %}

