{% macro write_links(links) -%}
	{% for page_name, text in links %}
		<li{% if page_name == selected_page %} class="selected"{% endif %}>
			<a href="{{ url_for(page_name) }}">{{ text }}</a>
		</li>
	{% endfor %}
{%- endmacro %}


{% macro write_small_game_icon(game) -%}
	{% if game == "tf2" %}
		<img class="game-logo" src="/static/tf2-small.png" />
	{% endif %}
{%- endmacro %}

{% macro write_large_game_icon(game) -%}
	{% if game == "tf2" %}
		<img class="game-logo" src="/static/tf2-large.png" />
	{% endif %}
{%- endmacro %}


{% macro write_small_external_link(external_link) -%}
	<a href="{{ external_link }}" target="_blank">
		<img class="external-link" src="/static/external-link-small.png" />
	</a>
{%- endmacro %}

{% macro write_large_external_link(external_link) -%}
	<a href="{{ external_link }}" target="_blank">
		<img class="external-link" src="/static/external-link-large.png" />
	</a>
{%- endmacro %}


{% macro write_count(count) -%}
	x{{ count }}
{%- endmacro %}

{% macro write_star_with_count(is_starred, num_stars) -%}
	{% if is_starred %}
		<img src="/static/star-full-dark.png" /><span>{{ write_count(num_stars) }}</span>
	{% else %}
		<img src="/static/star-empty-light.png" /><span>{{ write_count(num_stars) }}</span>
	{% endif %}
{%- endmacro %}

{% macro write_stream_with_count(is_streamed, num_streams) -%}
	{% if is_streamed %}
		<img src="TODO" />
	{% else %}
		<img src="TODO" />
	{% endif %}
	<span>{{ write_count(num_streams) }}</span>
{%- endmacro %}


{% macro write_division(game, division) -%}
	{% set league_id = division|league_id %}
	{% if league_id %}
		<img class="league-logo" src="/static/{{ league_id }}.png" />
		{{ division|division_name }}
		{{ write_small_external_link(division|division_external_url) }}
	{% endif %}
{%- endmacro %}


{% macro write_match(match) -%}
	<div>
		<h3>
			{{ write_large_game_icon(match.game) }}
			<a href="" class="team-name">{{ match.team1.name }}</a>
			vs 
			<a href="" class="team-name">{{ match.team2.name }}</a>
			{{ write_large_external_link("TODO") }}
		</h3>

		<div>
			{{ write_star_with_count(match.is_starred, match.num_stars) }}
		</div>
		<div>
			<div>
				<span>{{ date }}</span> at <span>{{ time }}</span>
			</div>
			<div>
				{{ write_division(match.game, match.division) }}
			</div>
		</div>
	</div>
{%- endmacro %}


{% macro write_match_list_element(match) -%}
	<li>
		<a href="{{ url_for('match_details', match_id=match|match_url_part) }}">
			<div class="counts">
				{{ write_star_with_count(match.is_starred, match.num_stars) }}
			</div>
			{{ write_small_game_icon(match.game) }}
			<div>
				<div class="teams">
					<span class="team">{{ match.team1.name }}</span>
					vs
					<span class="team">{{ match.team2.name }}</span>
				</div>
				<div class="datetime">{{ match.time|readable_datetime }}</div>
			</div>
		</a>
	</li>
{%- endmacro %}

{% macro write_team_list_element(team) -%}
	<li>
		<a href="{{ url_for('team_details', team_id=team|team_url_part) }}">
			{{ write_small_game_icon(team.game) }}
			{{ team.name }}
			<div class="counts">
				{{ write_star_with_count(team.is_starred, team.num_stars) }}
			</div>
		</a>
	</li>
{%- endmacro %}

{% macro write_streamer_list_element(streamer) -%}
	<li>
		<a href="{{ streamer|best_user_url }}">
			<img src="{{ streamer|best_streamer_small_picture }}" />
			{{ streamer.name }}
			<div class="counts">
				{{ write_star_with_count(streamer.is_starred, streamer.num_stars) }}
			</div>
		</a>
	</li>
{%- endmacro %}

