{% extends "matches.html" %}

{% set found_header_value = "Starred upcoming matches" %}

{% block page_name %}{{ found_header_value|title }}{% endblock page_name %}
{% block found_header %}{{ found_header_value }}{% endblock found_header %}
{% block missing_header %}No starred upcoming matches found :({% endblock missing_header %}

{% block missing %}
	{{ super() }}

	{% call macros.write_star_explanation("matches", g.logged_in) %}
		<li>Browse <a href="{{ url_for('all_matches') }}">all matches</a> and star any upcoming matches that you don't want to miss.</li>
		<li>If a upcoming match you starred is being streamed, then that match appears on <a href="{{ url_for('viewer_calendar') }}">your calendar</a>.</li>
	{% endcall %}
{% endblock missing %}

