{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ match.team1.name }} vs {{ match.team2.name }}{% endblock %}

{% block content %}
	<h2 class="header">{{ match.time|readable_timedelta }}:</h2>
	<div>
		<h3>
			{{ macros.write_large_game_icon(match.game) }}
			<a href="" class="team-name">{{ match.team1.name }}</a>
			vs 
			<a href="" class="team-name">{{ match.team2.name }}</a>
			{{ macros.write_large_external_link("TODO") }}
		</h3>

		<div class="counts">
			{{ macros.write_star_with_count(match.is_starred, match.num_stars) }}
		</div>
		<div>
			<!--
			<span>{{ date }}</span>
			at
			<span>{{ time }}</span>
			-->
		</div>
	</div>

	{% if match.streamers %}
		<h3 class="header">Streamed by {{ match.num_streams }}
		{% if match.num_streams > 1 %}
			users:
		{% else %}
			user:
		{% endif %}
		</h3>
		<ul class="data-list streamer-list">
		{% for streamer in match.streamers %}
			{{ macros.write_streamer_list_element(streamer) }}
		{% endfor %}
		</ul>
	{% else %}
		<h3 class="header">Nobody streaming so far :(</h3>
	{% endif %}
{% endblock %}

