{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ match.team1.name }} vs {{ match.team2.name }}{% endblock %}

{% block content %}
	<h2 class="header">{{ match.time|readable_timedelta|capitalize }}:</h2>
	{{ macros.write_match(match, True) }}

	{% if match.streamers %}
		<h3 class="header">Streamed by {{ match.num_streams }}
		{% if match.num_streams > 1 %}
			users:
		{% else %}
			user:
		{% endif %}
		</h3>
		<ul class="data-list streamer-list">
		{% for streamer in match.streamers %}
			{{ macros.write_streamer_list_element(streamer) }}
		{% endfor %}
		</ul>
	{% else %}
		<h3 class="header">Nobody streaming so far :(</h3>
	{% endif %}

	<script>
		$.addStarRollover($("#match div.counts img"))
	</script>
{% endblock %}

