{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/select2.css" />
{% endblock head %}

{% block title %}Settings{% endblock title %}

{% block content %}
	<div id="time-compare" class="main-data">
		<div id="server-time">
			<h2>Server time in UTC:</h2>
			<div class="format-12-hour"{% if time_format != "12_hour" %} style="display: none;"{% endif %}>
				{{ server_time_12_hour }}
			</div>
			<div class="format-24-hour"{% if time_format != "24_hour" %} style="display: none;"{% endif %}>
				{{ server_time_24_hour }}
			</div>
		</div>

		<div id="client-time"{% if not time_zone %} style="display: none;"{% endif %}>
			<h2>Your time:</h2>
			<div class="format-12-hour"{% if time_format != "12_hour" %} style="display: none;"{% endif %}>
			</div>
			<div class="format-24-hour"{% if time_format != "24_hour" %} style="display: none;"{% endif %}>
			</div>
		</div>
	</div>

	<div id="time-format" class="setting">
		<h2>Time Format:</h2>
		<select>
		{% for name, value in time_formats_map|dictsort %}
			<option value="{{ value }}"{% if value == time_format %}
				selected="selected"
			{% endif %}>{{ name }}</option>
		{% endfor %}
		</select>
	</div>

	<div id="country" class="setting">
		<h2>Country:</h2>
		<select>
			<option value=""></option>
		{% for country_name, country_code in sorted_country_names %}
			<option value="{{ country_code }}"{% if country_code == country %}
				selected="selected"
			{% endif %}>{{ country_name }}</option>
		{% endfor %}
		</select>
	</div>

	<div id="time-zone" class="setting">
		<h2>Time Zone:</h2>
		<select>
			<option value=""></option>
		</select>
	</div>

	<script src="static/select2.js" type="text/javascript"></script>
	<script type="text/javascript">
		$("#time-zone").data("countryOffsetMinutesMap", {{ country_offset_minutes_map|safe }});
		$("#time-zone").data("displayedOffsetMap", {{ displayed_offset_map|safe }});
	</script>
	{% assets "settings_js" %}
		<script src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock content %}

