{% extends "streamers.html" %}

{% set found_header_value = "Starred streamers" %}

{% block page_name %}{{ found_header_value|title }}{% endblock page_name %}
{% block found_header %}{{ found_header_value }}{% endblock found_header %}
{% block missing_header %}No starred streamers found :({% endblock missing_header %}

{% block missing %}
	{{ super() }}

	{% call macros.write_star_explanation("streamers", g.logged_in) %}
		<li>{{ macros.write_star_streamers_reason() }}</li>
		<li>{{ macros.write_star_streamers_effect() }}, then that match appears on <a href="{{ url_for('viewer_calendar') }}">your calendar</a>.</li>
	{% endcall %}
{% endblock missing %}

