{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ team.name }}{% endblock title %}

{% block content %}
	<div id="team" class="main-data clearfix">
		<h3>
			{{ macros.write_large_game_icon(team.game) }}
			{{ team.name }}
			{{ macros.write_large_external_link("TODO") }}
		</h3>

		<div class="counts">
			{{ macros.write_star_with_count(team.is_starred, team.num_stars) }}
		</div>
		<div class="division">
			{{ macros.write_division(team.game, team.division) }}
		</div>
	</div>

	{% if team.matches %}
		<h3 class="header">Upcoming matches:</h3>
		<ul class="data-list match-list">
		{% for match in team.matches %}
			<li>
				<a href="{{ url_for('match_details', match_id=match|team_match_url_part(team)) }}">
					<div>
						vs
						<span class="team-name">
						{% if match.team1 %}
							{{ match.team1.name }}
						{% elif match.team2 %}
							{{ match.team2.name }}
						{% endif %}
						</span>
					</div>
					{{ match.time|readable_datetime }}
					<div class="counts">
						{{ macros.write_star_with_count(match.is_starred, match.num_stars) }}
					</div>
				</a>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<h3 class="header">No upcoming matches</h3>
	{% endif %}
{% endblock content %}

