{% extends "layout.html" %}

{% block head %}
	{{ macros.write_font_stylesheet() }}
{% endblock head %}

{% block page_name %}Terms Of Service{% endblock page_name %}

{% block content %}
	<div id="terms" class="footer-data clearfix">
		<h3>Terms Of Service</h3>
		<p>The only resource I've really put into this site is my time, and so I'm not going to pay an expensive lawyer to write something here that only other lawyers can really understand. So my only rule is don't be a dick, which is admittedly really vague, because I don't know how to enumerate all the actions that constitute being a dick on this site. But I know a dick when I see one, and if you're a dick then I'll ban you, and then you'll be missing out on all the fun here. Womp womp. So please, don't be a dick.</p>
	</div>
{% endblock content %}

