.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
*:first-child+html .group { zoom: 1; } /* IE7 */

@font-face {
  font-family: 'LeagueGothic';
  src: url('/static/LeagueGothic-Regular.otf');
} 

$light-gray: #F3F3F3;
$medium-gray: #7E7E7E;
$dark-gray: #575757;

$small-font-size: 24pt;
$medium-font-size: 30pt;
$large-font-size: 60pt;

#site {
	width: 800px;
	margin: 0 auto;
  font-family: 'LeagueGothic', arial, sans-serif;
}

.header {
	color: $dark-gray;
	font-size: $medium-font-size;
	text-transform: uppercase;
}
div.counts {
	text-transform: none;
}
img.league-logo {
	margin-bottom: -2px;
}

$padding: 10px;
.main-data {
	$border: 2px solid $medium-gray;

	border-top: $border;
	border-bottom: $border;
	padding: $padding;
	margin: (2 * $padding) 0;
	background-color: $light-gray;
	color: $medium-gray;
	font-size: $medium-font-size;
	text-transform: uppercase;

	h3 {
		color: $dark-gray;
		font-size: $large-font-size;
		text-transform: uppercase;
	}
}

#match {
	div.counts {
		float: right;
	}
}

#team {
	h3 {
		img.game-logo {
			margin-bottom: -3px;
		}
		img.external-link {
			margin-top: -3px;
		}
	}
	div.counts {
		float: right;
	}
}

#streamer {
	img.picture {
		float: right;
	}
}

ul.data-list {
	$data-list-vert-padding: 5px;

	margin-top: $data-list-vert-padding;
	color: $medium-gray;
	font-size: $medium-font-size;
	text-transform: uppercase;

	li {
		$border: 2px solid $light-gray;

		border-bottom: $border;
		padding: $data-list-vert-padding $padding;

		&:hover {
			background-color: $light-gray;
		}
		&:first-child {
			border-top: $border;
		}
		a {
			display: block;
			text-decoration: none;
			color: $medium-gray;
		}
		div.counts {
			float: right;
		}
	}
}

ul.team-list {
}

ul.streamer-list {
}

ul.match-list li {
	img.game-logo {
		float: left;

		& + div {
			margin-left: 40px;
		}
	}
	div.teams {
		text-transform: none;
		span.team {
			text-transform: uppercase;
		}
	}
	div.datetime {
		font-size: $small-font-size;
	}
}

