@font-face {
  font-family: 'LeagueGothic';
  src: url('/static/LeagueGothic-Regular.otf');
} 

$light-gray: #F3F3F3;
$medium-gray: #7E7E7E;
$dark-gray: #575757;

$small-font-size: 24pt;
$medium-font-size: 30pt;
$large-font-size: 60pt;

#site {
	width: 800px;
	margin: 0 auto;
  font-family: 'LeagueGothic', arial, sans-serif;

	.header {
		color: $dark-gray;
		font-size: $medium-font-size;
		text-transform: uppercase;
	}
}

.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
*:first-child+html .group { zoom: 1; } /* IE7 */

div.counts {
	text-transform: none;
}

.main-data {
	border: 1px solid $dark-gray;
	margin: 20px 0;
	padding: 10px;
	background-color: $light-gray;

	color: $medium-gray;
	font-size: $medium-font-size;
	text-transform: uppercase;

	h3 {
		color: $dark-gray;
		font-size: $large-font-size;
		text-transform: uppercase;
	}
}

#team {
	h3 {
		img.game-logo {
			margin-bottom: -3px;
		}
		img.external-link {
			margin-top: -3px;
		}
	}
	img.league-logo {
		margin-bottom: -3px;
	}
	div.counts {
		float: right;
	}
}

#streamer {
	img.picture {
		float: right;
	}
}

$data-list-padding: 5px;
ul.data-list {
	margin-top: $data-list-padding;
	color: $medium-gray;
	font-size: $medium-font-size;
	text-transform: uppercase;

	li {
		&:hover {
			background-color: $light-gray;
		}
		&:first-child {
			border-top: 1px solid $light-gray;
		}

		padding: $data-list-padding 0;
		border-bottom: 1px solid $light-gray;

		a {
			display: block;
			text-decoration: none;
			color: $medium-gray;
		}
		div.counts {
			float: right;
		}
	}
}

ul.team-list {
}

ul.streamer-list {
}

ul.match-list li {
	img.game-logo {
		float: left;
		& + div {
			margin-left: 40px;
		}
	}
	div.teams {
		text-transform: none;
		span.team {
			text-transform: uppercase;
		}
	}
	div.datetime {
		font-size: $small-font-size;
	}
}

